# OS & Metadados do Sistema
.DS_Store
*.sh.bak

# Configurações de IDEs e Editores
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
*.ctxt

# Artefatos de Compilação & Binários Java
*.class
*.jar
*.war
*.ear
*.nar

# Pacotes e Arquivos Compactados
*.zip
*.tar.gz
*.rar

# Diretórios de Build (Maven / Gradle / IDEs)
target/
build/
.gradle/
out/
.mtj.tmp/

# Logs e Relatórios de Erro da JVM
*.log
hs_err_pid*
replay_pid*
